.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.angular-google-map-container {
/*  height: 350px;
  width: 350px;*/
  margin-bottom: 30px;
  border: 10px solid #fff;
  box-shadow: 0 0 5px #ccc;
  overflow: hidden;
  transform: translateZ(0px);
  position: relative;
  width: 350px;
  height: 0;
  overflow: hidden;
  padding-bottom: 22.25%;
  padding-top: 30px;
  position: relative;
}

.carousel-control {
  padding-top:10%;
  width:5%;
}

/************************************/

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

#carousel figure {
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  width: 276px;
  height: 276px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
}

.text-muted{
  color: #2385A1;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}
